.fill-width {
    width: 100%;
}

.search-form {
    position: relative;
}

.search-form .form-control {
    min-width: 268px;
    min-height: 40px;
}

.search-form input {
    padding: .4375rem 2.75rem
}

.search-form.append {
    left: 0;
}

.form-control-left {
    position: absolute;
    top: 0;
    color: #333;
    padding-left: .875rem;
    padding-right: .875rem;
    line-height: 2.25003rem;
    min-width: 1rem;
}

.form-control-right {
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
    padding-left: .875rem;
    padding-right: .875rem;
    line-height: 2.25003rem;
    min-width: 1rem;
}

.hide-before-browser {
    display: none !important;
}

.interactive {
    opacity: 0.5;
    cursor: pointer;
}

.interactive:hover {
    opacity: 1;
}

.underline {
    border-bottom: 1px solid #dadada;
}

.font-500 {
    font-weight: 500;
}

.font-700 {
    font-weight: 700;
}

.hovered:hover {
    cursor: pointer;
    opacity: 0.8;
    user-select: none;
}

.row-hovered:hover {
    cursor: pointer;
    background: #f5f5f5 0.28;
    transform: scale(1.01);
}

.table thead th {
    font-weight: 700;
}

.table tbody {
    border-bottom: 1px solid #ddd;
}

.preview-image {
    max-width: 289px;
    max-height: 154px;
}

.white {
    color: #fff;
}

.white:hover {
    color: #fff;
}

.gray {
    color: #f5f5f5;
}

.blue {
    color: #3290ff;
}

.back-red {
    background: #f2453d;
}

.back-gray {
    background: #f5f5f5;
}

.back-gray-dark {
    background: #617d8A;
}

.back-blue {
    background: #3290ff;
}

.back-green {
    background: #50ae55;
}